= simple_form_for @snippet do |form|

  = form.input :name, input_html: {class: 'span8'}
  = form.input :body, input_html: {class: 'span8', rows: '8'}
  = form.input :board_id, collection: @boards, prompt: false

  = form.submit 'Submit', class: 'btn btn-primary'
