.pull-right
  = render 'layouts/search'

.page-header
  %h1 #{@board.name}

- if @snippets.empty?
  %p
    =link_to 'Create a snippet', new_snippet_path
- else
  .snippets
    - @snippets.each do |snippet|
      %h3= link_to snippet.name, [snippet]
      .row
        .span12
          = snippet.body
          .author
            == posted by #{snippet.author_name}
            == on #{snippet.created_at}

