.pull-right
  = render 'layouts/search'

.page-header
  %h2= @board.name

- if @snippets.empty?
  %p
    %span.icon.icon-plus
    = link_to 'Create a snippet', new_snippet_path
- else
  .snippet-list.row
    - @snippets.each do |snippet|
      .snippet.span9
        %h3
          = link_to snippet.name, [snippet]
          %span.authored
            by
            %span.author= snippet.author_name

        = snippet.body
        == on #{snippet.created_at}

